@import "~@angular/material/theming";

:host {
  position: relative;
  display: flex;
  align-items: center;

  &:hover,
  &.selected {
    background-color: rgb(238, 238, 238);
  }

  &:hover {
    .actions {
      visibility: visible;
    }
  }
}

.selection {
  padding: 1rem;
}

mat-list-item {
  &.is-done {
    opacity: 0.3;
  }

  &.is-editing {
    padding: 1rem 0;
  }
}

.item-title {
  cursor: default;
}

ul.item-meta {
  font-size: smaller;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  color: mat-color($mat-grey, 400);

  li + li {
    margin-left: 0.5rem;

    &::before {
      content: "◆";
      margin-right: 0.5rem;
    }
  }
}

.actions {
  padding: 0.5rem;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(238, 238, 238, 0.9);
  visibility: hidden;
}
