<mat-list-item [ngClass]="{ 'is-done': item.isDone }">
  <h3 matLine>{{ item.title }}</h3>

  <div matLine>
    <ul class="item-meta">
      <li>Priority: {{ item.priority | titlecase }}</li>
      <li>Last updated: {{ item.lastUpdatedAt | date: "medium" }}</li>
    </ul>
  </div>
</mat-list-item>

<div class="actions">
  <button
    mat-icon-button
    matTooltip="Toggle Priority"
    (click)="onPriorityToggleClick()"
  >
    <mat-icon>priority_high</mat-icon>
  </button>

  <button
    mat-icon-button
    matTooltip="Toggle Mark Done"
    (click)="onMarkDoneToggleClick()"
  >
    <mat-icon>done</mat-icon>
  </button>

  <button mat-icon-button matTooltip="Delete" (click)="onDelete()">
    <mat-icon>delete</mat-icon>
  </button>
</div>
